.page {
    background-color: #000000;
    max-width: 880px;
    margin: auto;
    padding-top: 45px;
    font-family: 'Inter', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 900px) {
    .page {
        max-width: 680px;
    }
}

@media screen and (max-width: 700px) {
    .page {
        max-width: 550px;
    }
}

@media screen and (max-width: 575px) {
    .page {
        max-width: 420px;
    }
}

@media screen and (max-width: 320px) {
    .page {
        max-width: 320px;
        padding-top: 28px;
    }
}