.popup__container {
    background-color: #ffffff;
    width: 430px;
    border-radius: 10px;
    margin: auto;
    padding: 0 36px;
    box-sizing: border-box;
    position: relative;
    z-index: 999;
}

@media screen and (max-width: 460px) {
    .popup__container {
        padding: 0 19px;
        width: 282px;
    }
}