.profile__rectangle-button {
    margin: 14px 64px;
}

@media screen and (max-width: 320px) {
    .profile__rectangle-button {
        display: block;
        margin: auto;
        text-align: center;
    }
}