.profile__block {
    display: grid;
    grid-template-areas: "title button" "caption caption";
}

@media screen and (max-width: 320px) {
    .profile {
        display: flex;
        justify-content: center;
    }
}