.elements {
    display: grid;
    margin-bottom: 68px;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    /*grid-template-columns: 1fr 1fr 1fr;*/
    grid-gap: 16px;
}

@media screen and (max-width: 320px) {
    .elements {
        margin: 19px;
        margin-bottom: 50px;
    }
}