    .popup__close {
        position: absolute;
        right: -40px;
        top: -50px;
        cursor: pointer;
    }
    
    .popup__close:hover {
        opacity: 0.6;
    }
    
    @media screen and (max-width: 320px) {
        .popup__close {
            right: 0;
            top: -30px;
            height: 26px;
            width: 26px;
        }
    }