.profile__square-button {
    height: 10px;
    width: 10px;
    margin: auto;
}

@media screen and (max-width: 320px) {
    .profile__square-button {
        height: 7.5px;
        width: 7.5px;
    }
}