.profile__add-button {
    height: 50px;
    width: 150px;
    border: 2px solid #ffffff;
    margin-left: auto;
    margin-top: 13px;
    cursor: pointer;
    align-items: center;
    display: flex;
    padding: 0;
    background-color: transparent;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 740px) {
    .profile__add-button {
        max-width: 50px;
    }
}

@media screen and (max-width: 574px) {
    .profile__add-button {
        max-width: 150px;
        margin: auto;
    }
}

@media screen and (max-width: 320px) {
    .profile__add-button {
        width: 100%;
        max-width: 282px;
        min-height: 50px;
    }
}