.profile__rectangle {
    max-height: 50px;
    max-width: 150px;
    border: 1px solid #ffffff;
    margin-left: auto;
}

.profile__rectangle:hover {
    opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .profile__rectangle {
        width: 100%;
        display: block;
        margin: auto;
    }
}