.profile__rectangle {
    max-height: 50px;
    max-width: 150px;
    border: 2px solid #ffffff;
    margin-left: auto;
    margin-top: 13px;
    cursor: pointer;
    align-items: center;
}

.profile__rectangle:hover {
    opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .profile__rectangle {
        max-width: 282px;
        min-height: 50px;
        width: 100%;
        display: flex;
        margin: auto;
    }
}