.popup__title {
    font-weight: 900;
    text-align: center;
    padding: 0;
    padding-top: 34px;
    margin: 0;
    margin-bottom: 39px;
    border: 0;
}

@media screen and (max-width: 320px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        padding-top: 25px;
        margin-bottom: 76px;
    }
}