.popup {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s, pointer-events 0s linear 0.5s;
    z-index: 999;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}